body.weather {
    background-color: var(--color-main-bg);
    color: white;
}

nav .logo {
    width: 20%;
}

nav select {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}

nav select option {
    background-color: #0f172a;
    color: white;
}

header .hero__textbox {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    /* margin: 5px; */
    margin-right: 5px;
    border: 2px solid white;
    font-size: 18px;
}

header .hero__button {
    padding: 7px 20px;
    border-radius: 5px;
    background-color: var(--color-button-bg);
    color: white;
    border: none;
    font-size: 18px;
    transition-duration: 0.5s;
}

header .hero__button:hover {
    background-color: var(--color-button-bg-hover);
}

.dashboard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.dashboard .current__weather {
    background-image: url('https://i.pinimg.com/736x/76/e7/fc/76e7fc351d81d59ccf724ec80e410d2f.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    max-width: 80%;
    padding: 50px;
    margin-left: 10%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

html.light body {
    color: #112335;

}

html.light .dashboard .current__weather {
    background-image: url('/img/AM.png');
}

html.dark .dashboard .current__weather {
    background-image: url('https://i.pinimg.com/736x/76/e7/fc/76e7fc351d81d59ccf724ec80e410d2f.jpg');
}

.dashboard .current__weather .current__temp {
    font-size: 50px;
}

.dashboard .current__conditions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dashboard .current__conditions .block {
    margin: 10px;
    background-color: var(--color-panel-bg-dark);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
}

.dashboard .daily__forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .daily__forecast .block {
    text-align: center;
    background-color: var(--color-panel-bg-dark);
    padding: 10px;
    border-radius: 5px;
    width: 13%;
    margin-bottom: 10px;
}

.hourly {
    height: 565px;
    overflow-y: scroll;
    background-color: var(--color-panel-bg-dark);
    padding: 10px;
    border-radius: 5px;
}

.hourly .hourly__hour {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-panel-bg-med);
    border: 1px solid var(--color-panel-border);
    border-radius: 5px;
}

.hourly .hourly__content select {
    padding: 5px;
    background-color: transparent;
    color: var(--color-text-light);
    border-radius: 5px;
}

/* From Uiverse.io by satyamchaudharydev */
button {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
}

button>div,
button>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

button:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
}

button:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

button .clone>*,
button .text>* {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
}

button .clone>* {
    transform: translateY(60px);
}

button:hover .clone>* {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text>* {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone> :nth-child(1) {
    transition-delay: 0.15s;
}

button:hover .clone> :nth-child(2) {
    transition-delay: 0.2s;
}

button:hover .clone> :nth-child(3) {
    transition-delay: 0.25s;
}

button:hover .clone> :nth-child(4) {
    transition-delay: 0.3s;
}

button svg {
    width: 20px;
    right: 0;
    top: 20%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
}

button:hover svg {
    transform: translateY(-50%) rotate(-90deg);
}