:root {
    --color-main-bg: hsl(243, 96%, 9%);
    --color-text-light: hsl(0, 0%, 100%);
    --color-text-med-light: hsl(250, 6%, 84%);
    --color-panel-bg-dark: hsla(244, 52%, 22%, 0.916);
    --color-panel-bg-dark-hover: hsl(243, 23%, 24%);
    --color-panel-bg-med: hsl(243, 23%, 24%);
    --color-panel-bg-light: #749DD6;
    --color-panel-border: hsl(243, 23%, 30%);
    --color-light-hover: hsl(243, 96%, 9%);
    --color-button-bg: hsla(244, 52%, 22%, 0.916);
    --color-button-bg-hover: hsl(248, 57%, 46%);
    --c-orange: hsl(28, 100%, 52%);
}

.light {
    --color-text-light: hsl(212, 68%, 28%);
    --color-panel-bg-light: #FFCF96;
    --color-main-bg: hsla(201, 98%, 60%, 0.922);
    --color-panel-bg-dark: hsla(201, 100%, 39%, 0.275);
    --color-panel-border: hsl(51, 37%, 58%);
    --color-panel-bg-med: hsla(208, 55%, 54%, 0.651);

}

.dark {
    --color-text-light: hsl(0, 0%, 100%);
    --color-panel-bg-light: #749DD6;
    --color-main-bg: hsl(243, 96%, 9%);
    --color-panel-bg-dark: hsla(244, 52%, 22%, 0.916);
    --color-panel-border: hsl(243, 23%, 30%);
    --color-panel-bg-med: hsl(243, 23%, 24%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select option {
    background-color: #0f172a;
    color: white;
}

.toggleWrapper {
    position: relative;
    overflow: hidden;
    padding: 0;
    transform: scale(0.6);
    color: white;
}

.toggleWrapper .input {
    position: absolute;
    left: -99em;
}

.toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #83d8ff;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #ffcf96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
}

.toggle__handler .crater {
    position: absolute;
    background-color: #e8cda5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
}

.toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
}

.toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
}

.toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
}

.star {
    position: absolute;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
}

.star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
}

.star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
}

.star--4,
.star--5,
.star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
}

.star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
}

.input:checked+.toggle {
    background-color: #749dd6;
}

.input:checked+.toggle:before {
    color: #fff;
}

.input:checked+.toggle:after {
    color: #749ed7;
}

.input:checked+.toggle .toggle__handler {
    background-color: #ffe5b5;
    transform: translate3d(40px, 0, 0) rotate(0);
}

.input:checked+.toggle .toggle__handler .crater {
    opacity: 1;
}

.input:checked+.toggle .star--1 {
    width: 2px;
    height: 2px;
}

.input:checked+.toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
}

.input:checked+.toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
}

.input:checked+.toggle .star--4,
.input:checked+.toggle .star--5,
.input:checked+.toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.input:checked+.toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked+.toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.input:checked+.toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 888888888;
    background-color: rgba(109, 175, 226, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 98988889;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: fit-content;
    font-size: 80px;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background:
        radial-gradient(1.13em at 50% 1.6em, var(--color-text-light) 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
        radial-gradient(1.13em at 50% -0.8em, #0000 99%, var(--color-text-light) 101%) 50% .8em/3.2em 100% repeat-x text;
    animation: l9 2s linear infinite;
}

.loader:before {
    content: "Loading";
}

@keyframes l9 {
    to {
        background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-panel-bg-med);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-panel-bg-light);
    border-radius: 10px;
    border: 3px solid var(--color-panel-bg-dark);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-panel-border);
}

.dark ::-webkit-scrollbar-track {
    background: var(--color-panel-bg-med);
}

.dark ::-webkit-scrollbar-thumb {
    background-color: var(--color-panel-bg-light);
    border: 3px solid var(--color-panel-bg-dark);
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-panel-border);
}

.light ::-webkit-scrollbar-track {
    background: var(--color-panel-bg-med);
}

.light ::-webkit-scrollbar-thumb {
    background-color: var(--color-panel-bg-light);
    border: 3px solid var(--color-panel-bg-dark);
}

.light ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-panel-border);
}